<home-navigation></home-navigation>
<div class="navbar-offset">
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h2 class="text-center">Beställningar</h2>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="row">
          <ul class="nav nav-pills nav-justified">
            <li role="presentation" ng-click="pickups()" ng-class="{'active':selectedTab===TABS.PICKUPS}"><a>Hämtningar</a></li>
            <li role="presentation" ng-click="ongoing()" ng-class="{'active':selectedTab===TABS.ONGOING}"><a>Pågående</a></li>
            <li role="presentation" ng-click="deliveries()" ng-class="{'active':selectedTab===TABS.DELIVERY}"><a>Lämningar</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="o in orders | filter:statusFilter:status" ng-init="o.cust = getCustomer(o)">
                  <dl>
                    <dt>Kundnummer</dt>
                    <dd>Skapad: {{o.created}}</dd>
                    <dd>{{o.cust.firstName}}</dd>
                    <dd>{{o.cust.address}}</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
